// Hide button 'Create topic'
body:not([class*='category-']) #create-topic {
  display: none;
}

a.online {
  position: relative;
}

span.online {
  color: rgb(66, 183, 42);
  font-size: 12px;
  position: absolute;
  right: 2px;
  bottom: -14px;
}
span.online-wrapper {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  right: -1px;
  bottom: -17px;
}

.d-header .icons span.online[class^="fa fa-"], .d-header .icons span.online-wrapper[class^="fa fa-"] {
  display: none;
}
.user-card-avatar {
  .online {
    color: rgb(66, 183, 42);
    font-size: 18px;
    position: absolute;
    right: 9px;
    bottom: 9px;
  }
  .online-wrapper {
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    right: 6px;
    bottom: 6px;
  }
}

nav.post-controls button.widget-button.has-like {
  color: #028ace;
}

nav.post-controls button.d-hover, nav.post-controls button.delete.d-hover, nav.post-controls button.like.d-hover {
  color: rgba(31, 32, 34, 0.73);
  background: transparent;
}
