// Hide button 'Create topic'
body:not([class*='category-']) #create-topic {
  display: none;
}

a.online {
  position: relative;
}

span.online {
  color: #47dc25;
  font-size: 9px;
  position: absolute;
  right: 2px;
  bottom: -14px;
}

.d-header .icons span.online[class^="fa fa-"] {
  display: none;
}
.user-card-avatar {
  .online {
    color: #47dc25;
    font-size: 18px;
    position: absolute;
    right: 9px;
    bottom: 9px;
  }
}
