// Hide button 'Create topic'
body:not([class*='category-']) #create-topic {
  display: none;
}

a.online {
  position: relative;
}

span.online {
  color: rgb(66, 183, 42);
  font-size: 12px;
  position: absolute;
  right: 2px;
  bottom: -14px;
}

span.online-wrapper {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  right: -1px;
  bottom: -17px;
}

.d-header .icons span.online[class^="fa fa-"], .d-header .icons span.online-wrapper[class^="fa fa-"] {
  display: none;
}

.user-card-avatar {
  .online {
    font-size: 18px;
    right: 9px;
    bottom: 9px;
  }
  .online-wrapper {
    font-size: 25px;
    right: 6px;
    bottom: 6px;
  }
}
.who-liked {
  .online {
    font-size: 10px;
    right: 1px;
    bottom: 0px;
  }
  .online-wrapper {
    font-size: 13px;
    right: 0px;
    bottom: -1px;
  }
}
nav.post-controls button.widget-button.has-like {
  color: #028ace;
}

nav.post-controls button.d-hover, nav.post-controls button.delete.d-hover, nav.post-controls button.like.d-hover {
  color: rgba(31, 32, 34, 0.73);
  background: transparent;
}

.posters > a {
  position: relative;

  span.online {
    font-size: 7px;
    right: 1px;
    bottom: 1px;
  }
  span.online-wrapper {
    font-size: 11px;
    right: -1px;
    bottom: -2px;
  }
}

.topic-map {
  span.online {
    font-size: 7px;
    right: 3px;
    bottom: -2px;
  }
  span.online-wrapper {
    font-size: 11px;
    right: 1px;
    bottom: -5px;
  }
  .avatars {
    span.online {
      right: 6px;
      bottom: 1px;
    }
    span.online-wrapper {
      right: 4px;
      bottom: -2px;
    }
  }
}

.details {
  .primary {
    .avatar-wrapper {
      position: relative;
      display: inline;
      span.online {
        font-size: 18px;
        top: 88px;
        left: -43px;
        right: auto;
        bottom: auto;
      }
      span.online-wrapper {
        font-size: 25px;
        top: 84px;
        left: -46px;
        right: auto;
        bottom: auto;
      }
    }
  }
}

.topic-poster {
  a {
    position: relative;
  }
}

.google-adsense {
  .google-adsense-content {
    margin-left: 0px;
  }
}
